# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
